# Core dependencies for linux-voice-assistant
aioesphomeapi==43.9.1
soundcard<1
numpy>=2,<3
pymicro-wakeword>=2,<3
pyopen-wakeword>=1,<2
python-mpv>=1,<2
zeroconf<1
paho-mqtt
adafruit-circuitpython-dotstar
adafruit-circuitpython-neopixel
adafruit-circuitpython-neopixel-spi
RPi.GPIO
gpiozero
spidev
pyusb