[Unit]
Description=Linux Voice Assistant (PipeWire)
After=pipewire.service pipewire-pulse.service
Wants=pipewire-pulse.service

[Service]
Type=simple
WorkingDirectory=/home/pi/linux-voice-assistant
Environment=PYTHONUNBUFFERED=1

ExecStart=/home/pi/linux-voice-assistant/script/run \
  --name 'Linux Voice Assistant' \
  --mqtt-host <IP_Adress> \
  --mqtt-port 1883 \
  --mqtt-username <user_name> \
  --mqtt-password <password> \
  --wake-word-dir wakewords/openWakeWord  \
  --wake-word-dir wakewords \
  --stop-model stop \
  --audio-input-device default \
  --audio-output-device pipewire/default \
  --debug

Restart=always
RestartSec=2

[Install]
WantedBy=default.target
