[Unit]
Description=Linux Voice Assistant (PulseAudio)
After=pulseaudio.service
Wants=pulseaudio.service

[Service]
Type=simple
WorkingDirectory=/home/pi/linux-voice-assistant
Environment=PYTHONUNBUFFERED=1

ExecStart=/home/pi/linux-voice-assistant/script/run \
  --name 'Linux Voice Assistant' \
  --wake-word-dir wakewords/openWakeWord  \
  --wake-word-dir wakewords \
  --stop-model stop \
  --audio-input-device default \
  --audio-output-device pulse/alsa_output.platform-soc_sound.stereo-fallback \
  --debug

Restart=always
RestartSec=2

[Install]
WantedBy=default.target
